:root{
  --color-dark:#332941;
  --color-navy:#3B3486;
  --color-point:#864AF9;
  --color-point-yellow:#F8E559;
  --color-light-grey:#D9D9D9;
  --color-light:#EFEFEF;
  --color-white:#FFFFFF;
  --font-size-max: 3.6rem;
  --font-size-huge: 2.8rem;
  --font-size-bigger: 2.4rem;
  --font-size-big: 2rem;
  --font-size-default: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-smaller: 1.2rem;
  --page-padding-default : 10rem 0 15rem;
  --default-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
  margin:0;
  padding:0;
  font-size: var(--txt-b-default);
  font-family: sans-serif;
}

button{
  border: none;
  cursor: pointer;
  background: none;
  color:initial;
}

html{
  color:var(--color-dark);
  font-size: 10px;
}

body{
  font-size: var(--font-size-default);
  font-family: sans-serif;
  word-break: keep-all;
  background-color: var(--color-white);
}

li{
  list-style: none;
}

a{
  color:inherit;
  text-decoration: none;
}

main{
  min-height:100vh;
  position: relative;
  overflow: hidden;
}

.center-content{
  width:90%;
  max-width:72rem;
  margin:0 auto;
}

.ir-hidden{
  position: absolute;
  left:-9999px;
  width:0;
  height:0;
  overflow: hidden;
}

.default-btn{
  display: inline-flex;
  align-items:center;
  justify-content:center;
  width:100%;
  max-width:50rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size:var(--font-size-default);
  height:5rem;
  font-weight:600;
  color: var(--color-light);
  background-color: var(--color-point);
  border:none;
  border-radius: .6rem;
  cursor:pointer;
  transition: all 0.2s ease-in-out;
}

.txt-btn:hover, .txt-btn:focus{
  transition: filter 0.2s ease-in-out;
  filter: invert(55%) sepia(96%) saturate(5050%) hue-rotate(200deg) brightness(105%) contrast(90%);
}

.default-btn:hover, .default-btn:focus{
  filter:brightness(1.2);
}

.default-form ul{
  display: flex;
  flex-direction: column;
  gap:2rem;
  font-size: var(--font-size-big);
}

.default-form li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-form label{
  padding-right: 2rem;
  min-width: 8rem;
  font-weight: 800;
}

.default-form input,
.default-form select{
  flex-grow: 1;
  padding:1rem;
  border: 1px solid var(--color-point);
  border-radius: .5rem;
}

.swiper-pagination-bullet{
  background-color: var(--color-light) !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--color-point) !important;
}

.default-badge{
  padding:0.2rem 1rem;
  font-size: var(--font-size-small);
  color: var(--color-dark);
  background-color: var(--color-light-70);
  border-radius: 2rem;
}

.load-more{
  text-align: center;
  font-family: 'PyeongChangPeace', sans-serif;
}

.processing{
  pointer-events: none;
}

@media all and (max-width:1023px) {
 html{
  font-size:7.7px;
 } 
}